:root {
  --advance-black: #000000;
  --basic-black: #283136;
  --basic-gray: #EEEEEE;
  --modal-close: rgba(251, 86, 90, 0.3);
  --checkbox: #4D4D4D;

  --special-red: #FB565A;
  --special-red-hower: #E74246;
  --special-red-focus: #D7373B;
  --special-green: #00CA74;
  --special-green-hower: #00BC6C;
  --special-green-focus: #00AA62;
  --special-yellow: #EFC849;
  --special-yellow-hower: #EAB534;
  --special-yellow-focus: #E5A722;
  --special-gray: #444444;
  --extra-gray: #666666;
  --special-white: #ffffff;
  --special-paginator-grey: #DFDFDF;
  --special-scale-grey: #D7DCDF;
  --special-toggle-grey: #ABABAB;
  --current-dot: #C1C1C1;
}

body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-header {
  padding-top: 49px;
  background-color: var(--basic-gray);
}

.inner-header {
  margin-bottom: 55px;
}

.header-logo {
  width: 160px;
  height: 65px;
  margin-right: 203px;
}

.inner-logo {
  cursor: pointer;
}

.inner-logo:active {
  opacity: 0.3;
}

.site-navigation {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  color: var(--advance-black);
}

.site-navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.site-navigation-item {
  margin-right: 44px;
}

.site-navigation-item:nth-child(2n) {
  margin-right: 48px;
}

.site-navigation-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 187px;
  margin-top: 17px;
  list-style: none;
}

.cart {
  margin-top: 17px;
}

.cart .cart-item {
  position: relative;
  margin-right: 0;
  padding-left: 50px;
}

.cart-item::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 11px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-menu a,
.cart a {
  display: block;
  margin: 0;
  padding: 13px 0;
  color: var(--advance-black);
}

.navigation-current {
  position: relative;
  top: 1px;
  border-bottom: 2px solid var(--special-red);
}

.site-navigation-menu a:hover,
.cart a:hover {
  color: var(--special-red);
}

.site-navigation-menu a:focus,
.cart a:focus {
  color: var(--advance-black);
  opacity: 0.3;
}

.main-title {
  margin: 0;
  padding-top: 72px;
  padding-bottom: 110px;
  padding-right: 18px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: var(--advance-black);
}

.page-catalog {
  display: flex;

}

.sort-block {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 48px;
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-list-item {
  margin-right: 25px;
}

.sort-list-item:last-child {
  margin-right: 48px;
}

.sort-btn {
  font-size: 14px;
  line-height: 18px;
  color: var(--advance-black);
  text-transform: uppercase;
  opacity: 0.3;
  text-decoration: none;
}

.sort-icon {
  opacity: 0.2;
}

.sort-down {
  margin-right: 14px;
}

.sort-up-icon {
  transform: rotate(180deg);
}

.sort-btn:hover,
.sort-icon:hover {
  color: var(--advance-black);
  opacity: 0.6;
}

.sort-btn:active,
.sort-btn:visited,
.sort-btn-visited,
.sort-icon:active,
.sort-active {
  opacity: 1;
  color: var(--advance-black);
}

/* filter block */

.filters {
  width: 260px;
  margin-right: 140px;
}


.filter-item {
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 35px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--basic-gray);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--special-scale-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--special-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--special-white);
  background-color: var(--special-toggle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 14px;
  color: var(--advance-black);
  text-transform: uppercase;
}

.price-controls label {
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-black);
}

.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 10px;
  padding-left: 16px;
  padding-right: 2px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background: var(--basic-gray);
  font-family: inherit;
  font-size: inherit;
}

.max-price input {
  margin-left: 8px;
  padding: 10px;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding: 17px 89px 15px 88px;
  text-align: center;
  color: var(--advance-black);
  background-color: var(--basic-gray);
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.filter-option {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;
}

.filter-option:first-child {
  margin-bottom: 14px;
}

.filter-list:first-child {
  margin-bottom: 1px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 23px;
  padding-left: 37px;
  color: var(--basic-black);
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -3px;
  top: -2px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--checkbox);
  border-radius: 2px;
  opacity: 0.4;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 2px;
  width: 22px;
  height: 17px;
  background-image: url("../img/tick.svg");
  opacity: 0.4;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -3px;
  width: 19px;
  height: 19px;
  border: 3px solid var(--checkbox);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 5px;
  width: 9px;
  height: 9px;
  background-color: var(--checkbox);
  border-radius: 50%;
  opacity: 0.4;
}



.filter-input-checkbox:hover::before {
  opacity: 1;
}


.filter-input-checkbox:disabled,
.filter-input-radio:disabled {
  opacity: 0.1;
}

.filter-input-checkbox:disabled+label,
.filter-input-radio:disabled+label {
  opacity: 0.3;
}

/* order block */

.order {
  margin-bottom: 38px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--basic-gray);
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-list-item {
  width: 300px;
  margin-right: 100px;
}

.order-list-item:nth-child(3) {
  margin-right: 0;
}

.order-illustration {
  margin-bottom: 19px;
}

.order-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.order-text {
  margin: 0;
  margin-bottom: 32px;
  padding-right: 40px;
  text-align: left;
}

.btn {
  display: inline-block;
  padding: 16px 39px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--special-white);
  text-transform: uppercase;
  background-color: var(--special-red);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn.disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--special-red);
}

.btn:hover {
  background-color: var(--special-red-hower);
}

.btn:focus {
  background-color: var(--special-red-focus);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.btn-green {
  background-color: var(--special-green);
}

.btn-yellow {
  background-color: var(--special-yellow);
}

.btn-green:hover {
  background-color: var(--special-green-hower);
}

.btn-green:focus {
  background-color: var(--special-green-focus);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn-yellow:hover {
  background-color: var(--special-yellow-hower);
}

.btn-yellow:focus {
  background-color: var(--special-yellow-focus);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* catalog block */

.catalog {
  margin-bottom: 61px;
}

.sort-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-right: 266px;
  text-transform: uppercase;
  color: var(--advance-black);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list-item {
  position: relative;
  width: 360px;
  margin-bottom: 23px;
}

.browser {
  width: 360px;
  min-height: 40px;
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.price-label {
  display: none;
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  min-height: 231px;
  width: 100%;
  top: 59%;
  left: 0;
  padding: 26px 80px 44px 80px;
  background-color: var(--basic-gray);
}

.catalog-list-item:hover .price-label,
.catalog-list-item:hover .browser {
  display: block;
  opacity: 1;
}

.price-label h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: var(--advance-black);
  cursor: pointer;
}

.price-label h3:hover {
  color: var(--special-red);
}

.price-label h3:active {
  color: var(--advance-black);
  opacity: 0.3;
}

.price-label p {
  color: var(--extra-gray);
}

.price-label .btn {
  display: block;
  width: 100%;
  border-radius: 3px;
}

/* footer-block */

.site-footer {
  margin-top: 66px;
  padding-bottom: 68px;
}

.site-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 127px;
  padding: 0;
  list-style: none;
}

.socials-item {
  margin-right: 10px;
}

.discount-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  color: var(--advance-black);
}

.discount-text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--special-gray);
}

/* slider */

.features {
  margin-bottom: 75px;
  background-color: var(--basic-gray);
}

.slider {
  position: relative;
  width: 1160px;
}

.slider-list {
  position: relative;
  min-height: 430px;
  width: 1160px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.slider-item {
  position: absolute;
  text-align: left;
  min-height: 430px;
  width: 1160px;
  opacity: 0;
}

.slider-item-active {
  opacity: 1;
}

.slider-item:nth-child(1) {
  background-image: url(../img/nerds-index-slide1.png);
  background-repeat: no-repeat;
  background-position: 395px -2px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/nerds-index-slide2.png);
  background-repeat: no-repeat;
  background-position: 395px -2px;
}

.slider-item:nth-child(3) {
  background-image: url(../img/nerds-index-slide3.png);
  background-repeat: no-repeat;
  background-position: 395px -2px;
}

.slider-promo {
  width: 538px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  margin-bottom: 29px;
  padding-top: 73px;
}

.slider-text {
  width: 416px;
  margin-bottom: 39px;
}

.slider-navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  min-width: 88px;
  bottom: 93px;
  right: 537px;
  z-index: 20;
  width: 88px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-navigation-dots .navigation-dots {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--special-white);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.current-dot::before {
  content: "";
  position: absolute;
  top: 28%;
  left: 31%;
  width: 4px;
  height: 4px;
  background-color: var(--special-white);
  border-radius: 50%;
  border: 2px solid var(--current-dot);
}

.slider-item .btn {
  padding: 17px 54px 15px 54px;
  border-radius: 3px;
}

/* advertising block */

.advertising {
  display: flex;
  margin-bottom: 54px;
}

.advertising-wrap {
  width: 900px;
  margin-right: 121px;
  padding-top: 36px;
}

.advertising-principles-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-bottom: 34px;
  color: var(--advance-black);
}

.advertising-principles-text {
  margin: 0;
  margin-bottom: 41px;
}

.work-title {
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.work-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.work-list-item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;
}

.work-list-item::before {
  content: "";
  position: absolute;
  left: -0%;
  top: 44%;
  width: 25px;
  height: 2px;
  background-color: var(--special-red);
}

.statistics-wrap {
  width: 360px;
  box-sizing: border-box;
}

.statistics-img {
  width: 360px;
  height: 208px;
}

.statistics-title {
  margin: 0;
  padding-top: 39px;
  padding-bottom: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.statistics-item {
  width: 120px;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-align: left;
  color: var(--advance-black);
}

.statistics-item sup {
  font-size: 26px;
  line-height: 40px;
  color: var(--advance-black);
}

.statistics-text-item {
  font-size: inherit;
  line-height: 18px;
}

.statistics-text-item {
  padding-top: 10px;
}

/* product block */

.product {
  margin-bottom: 72px;
  padding-top: 44px;
  padding-bottom: 44px;
  border-top: 2px solid var(--basic-gray);
  border-bottom: 2px solid var(--basic-gray);
}

.product-list-item {
  position: relative;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
}

.product-list-item {
  margin-left: -34px;
}

.product-list-item:nth-child(4) {
  margin-right: 0;
}

.product-list-item:not(:nth-child(4))::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  left: 120%;
  top: 3%;;
  background-color: var(--basic-gray);
}

.product-list-item img {
  opacity: 0.2;
  cursor: pointer;
}

.product-list-item img:hover {
  opacity: 1;
}

.product-list-item img:active {
  opacity: 0.1;
}

/* pagination */

.paginator {
  padding-top: 25px;
}

.paginator-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.paginator-list-item a {
  display: block;
}

.paginator-list-item {
  margin-right: 11px;
  padding: 17px 20px 15px 20px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  cursor: pointer;
}

.paginator-list-item.btn {
  padding: 17px 77px 15px 78px;
  color: var(--advance-black);
  background-color: var(--basic-gray);
}

.paginator-list-item a {
  font-weight: 500;
  line-height: 18px;
  color: var(--advance-black);
}

.paginator-list-item:hover {
  background-color: var(--special-paginator-grey);
}

.paginator-list-item:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.paginator-list-item a:visited,
.pagination-visited-item {
  padding: 12px 18px 12px 18px;
  border: 3px solid #DBDBDB;
  background: rgba(0, 0, 0, 0.0001);
}

/* contacts block */

.contacts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
}

.map {
  position: relative;
}

.map img {
  display: block;
  width: 100%;
}

.information-wrap {
  position: absolute;
  left: 10%;
  top: 13%;
  padding: 50px 50px 45px 45px;
  text-align: left;
  background-color: var(--special-white);
}

.contacts-title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--advance-black);
}

.contacts-text {
  margin: 0;
  margin-bottom: 17px;
  line-height: 18px;
  color: var(--extra-gray);
}

.contacts-text a {
  color: var(--extra-gray);
}

.contact-tel {
  margin-bottom: 40px;
}

.btn-contact {
  padding: 17px 44px 17px 46px;
}

.marker {
  position: absolute;
  left: 57%;
  top: 21%;
}

/* modal */

.modal {
  display: none;
}

.modal-window {
  width: 760px;
  min-height: 445px;
  position: fixed;
  top: 23%;
  left: 20%;
  background-color: var(--special-white);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  padding: 63px 99px 84px 100px;

}

.client-form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 34px;
}

.modal-title {
  width: 311px;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 37px;
  color: var(--advance-black);
  box-sizing: border-box;
}

.client-form label {
  display: block;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--advance-black);
}

.client-form input {
  display: block;
  width: 323px;
  padding: 16px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid var(--special-toggle-grey);
  background-color: transparent;
  color: var(--special-gray);
  opacity: 0.5;
}

.client-form input:hover {
  border: 2px solid var(--extra-gray)
}

.client-form input:focus {
  color: var(--special-gray);
  opacity: 1;
  border: 2px solid var(--advance-black);
}

.client-form input:invalid {
  color: var(--special-red);
  border: 2px solid var(--special-red);
  opacity: 1;
}

.client-form textarea {
  display: block;
  width: 760px;
  min-height: 118px;
  padding-left: 16px;
  padding-top: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--special-gray);
  border: 2px solid var(--special-toggle-grey);
  opacity: 0.5;
  box-sizing: border-box;
}

.client-form textarea:hover {
  border: 2px solid var(--extra-gray)
}

.client-form textarea:focus {
  color: var(--special-gray);
  opacity: 1;
  border: 2px solid var(--advance-black);
}

.client-form .btn {
  display: block;
  margin-top: 14px;
  padding: 17px 84px 15px 85px;
}

.person-block {
  grid-column: 1/2;
  grid-row: 1/2;
}

.email-block {
  grid-column: 2/3;
  grid-row: 1/2;
}

.message-block {
  grid-column: 1/3;
  grid-row: 2/3;
}

.submit-block {
  grid-column: 1/2;
  grid-row: 3/4;
}

.modal-close {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 26px;
  background-color: var(--modal-close);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
