:root {
  --advance-black: #000000;
  --basic-black: #283136;
  --basic-gray: #EEEEEE;

  --special-red: #FB565A;
  --special-red-hower: #E74246;
  --special-red-focus:#D7373B;
  --special-green: #00CA74;
  --special-green-hower: #00BC6C;
  --special-green-focus: #00AA62;
  --special-yellow: #EFC849;
  --special-yellow-hower: #EAB534;
  --special-yellow-focus: #E5A722;
  --special-gray: #444444;
  --extra-gray: #666666;
  --special-white: #ffffff;
  --special-paginator-grey:#DFDFDF;
}

body {
  min-width: 1440px ;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.container {
  width: 1181px;
  margin: 0 auto;
  padding-left: 13px;
  padding-right: 13px;
}

.main-header {
  background-color: var(--basic-gray);
}

.site-navigation {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  color: var(--advance-black);
}

.site-navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.site-navigation-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-menu a,
.cart a {
  color: var(--advance-black);
}

.site-navigation-menu a:hover,
.cart a:hover {
  color: var(--special-red);
}

.site-navigation-menu a:focus,
.cart a:focus {
  color: var(--advance-black);
  opacity: 0.3;
}

.main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 108px;
  margin-bottom: 55px;
}

.page-catalog {
  display: flex;

}

.sort-block {
  display: flex;
}

.sort-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-btn {
  font-size: 14px;
  line-height: 18px;
  color: var(--advance-black);
  text-transform: uppercase;
  opacity: 0.3;
  text-decoration: none;
}

.sort-btn:hover {
  color: var(--advance-black);
  opacity: 0.6;
}

.sort-btn:active,
.sort-btn:visited,
.sort-btn-visited {
  opacity: 1;
  color: var(--advance-black);
}

/* filter block */

.filter {
  width: 265px;
  margin-right: 140px;
}

.range-filter {
  margin-bottom: 54px;
}

.radio-filter {
  margin-bottom: 45px;
}

.checkbox-filter {
  margin-bottom: 50px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--advance-black);
  text-transform: uppercase;
}

.filter label {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-black);
}

.range-label {
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-input-checkbox,
.filter-input-radio {
  opacity: 0.4;
}

.filter-input-checkbox:hover,
.filter-input-radio:hover {
  opacity: 1;
}

.filter-input-checkbox:disabled,
.filter-input-radio:disabled {
  opacity: 0.1;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.btn-filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--advance-black);
  background-color: var(--basic-gray);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.order-list-item {
  margin-right: 100px;
  width: 300px;
}

.order-list-item:nth-child(3) {
  margin-right: 0;
}

.order-illustration {
  margin-bottom: 25px;
}

.order-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.order-text {
  text-align: left;
  margin: 0;
  margin-bottom: 32px;
  padding-right: 40px;
}

.btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--special-white);
  text-transform: uppercase;
  background-color: var(--special-red);
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--special-red-hower);
}

.btn:focus {
  background-color: var(--special-red-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.btn-green {
  background-color: var(--special-green);
}

.btn-yellow {
  background-color: var(--special-yellow);
}

.btn-green:hover {
  background-color: var(--special-green-hower);
}

.btn-green:focus {
  background-color: var(--special-green-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.btn-yellow:hover {
  background-color: var(--special-yellow-hower);
}

.btn-yellow:focus {
  background-color: var(--special-yellow-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* catalog block */

.sort-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--advance-black);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
}

.price-label {
  background-color: var(--basic-gray);
}

.price-label h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.price-label p {
  color: var(--extra-gray);
}

.site-footer-wrapper {
  display: flex;
  align-items: center;
}

.socials-list {
  display: flex;

  list-style: none;
}

.discont-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--advance-black);
}

.discont-text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--special-gray);
}

/* slider */

.slider-list {
  list-style: none;
}

.slider-promo {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-navigation {
  list-style: none;
}

/* advertising block */

.advertising-principles-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--advance-black);
}

.work-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.work-list {
  list-style: none;
}

.statistics-title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.statistics-item {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--advance-black);
}

.statistics-item sup {
  font-size: 26px;
  line-height: 40px;
  color: var(--advance-black);
}

.statistics-text-item {
  font-size: inherit;
  line-height: 18px;
}

 /* product block */

 .product-list {
   list-style: none;
 }

 .product-list-item img {
   opacity: 0.2;
   cursor: pointer;
 }

 .product-list-item img:hover {
   opacity: 1;
 }

 .product-list-item img:active {
   opacity: 0.1;
 }

 /* pagination */

.paginator-list {
  list-style: none;
}

.paginator-list-item a {
  font-weight: 500;
  line-height: 18px;
  color: var(--advance-black);
  background-color: var(--basic-gray);
  border-radius: 3px;
}

.paginator-list-item a:hover {
  background-color: var(--special-paginator-grey);
}

.paginator-list-item a:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.paginator-list-item a:visited,
.pagination-visited-item  {
  border: 3px solid #DBDBDB;
  background: rgba(0, 0, 0, 0.0001);
}


/* contacts block */

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--advance-black);
}

.contacts-text {
  line-height: 18px;
  color: var(--extra-gray);
}

/* modal */

.modal {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


