:root {
  --advance-black: #000000;
  --basic-black: #283136;
  --basic-gray: #EEEEEE;

  --special-red: #FB565A;
  --special-red-hower: #E74246;
  --special-red-focus:#D7373B;
  --special-green: #00CA74;
  --special-green-hower: #00BC6C;
  --special-green-focus: #00AA62;
  --special-yellow: #EFC849;
  --special-yellow-hower: #EAB534;
  --special-yellow-focus: #E5A722;
  --special-gray: #444444;
  --extra-gray: #666666;
  --special-white: #ffffff;
}

body {
  min-width: 1440px ;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.container {
  width: 1181px;
  margin: 0 auto;
  padding-left: 13px;
  padding-right: 13px;
}

.main-header {
  background-color: var(--basic-gray);
}

.site-navigation {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  color: var(--advance-black);
}

.site-navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.site-navigation-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-menu a,
.cart a {
  color: var(--advance-black);
}

.site-navigation-menu a:hover,
.cart a:hover {
  color: var(--special-red);
}

.site-navigation-menu a:focus,
.cart a:focus {
  color: var(--advance-black);
  opacity: 0.3;
}

.main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.filter legend {
  font-size: 16px;
  line-height: 19px;
  color: var(--advance-black);
  text-transform: uppercase;
}

.filter label {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-black);
}

.range-label {
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter-input-checkbox,
.filter-input-radio {
  opacity: 0.4;
}

.filter-input-checkbox:hover,
.filter-input-radio:hover {
  opacity: 1;
}

.filter-input-checkbox:disabled,
.filter-input-radio:disabled {
  opacity: 0.1;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.filter-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--advance-black);
  background-color: var(--basic-gray);
  text-transform: uppercase;
  border: none;
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.order-list-item {
  margin-right: 100px;
  width: 300px;
}

.order-list-item:nth-child(3) {
  margin-right: 0;
}

.order-illustration {
  margin-bottom: 25px;
}

.order-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.order-text {
  text-align: left;
  margin: 0;
  margin-bottom: 32px;
  padding-right: 40px;
}

.btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--special-white);
  text-transform: uppercase;
  background-color: var(--special-red);
  border: none;
}

.btn:hover {
  background-color: var(--special-red-hower);
}

.btn:focus {
  background-color: var(--special-red-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.btn-green {
  background-color: var(--special-green);
}

.btn-yellow {
  background-color: var(--special-yellow);
}

.btn-green:hover {
  background-color: var(--special-green-hower);
}

.btn-green:focus {
  background-color: var(--special-green-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.btn-yellow:hover {
  background-color: var(--special-yellow-hower);
}

.btn-yellow:focus {
  background-color: var(--special-yellow-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog-list {
  list-style: none;
}

.price-label {
  background-color: var(--basic-gray);
}

.price-label h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.price-label p {
  color: var(--extra-gray);
}

.site-footer-wrapper {
  display: flex;
  align-items: center;
}

.socials-list {
  display: flex;

  list-style: none;
}

.discont-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--advance-black);
}

.discont-text {
  font-size: 16px;
  line-height: 22px;
  color: var(--special-gray);
}

.modal {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


